@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

address {
  font-style: normal;
}

body {
  overflow-x: hidden;
  font-family: "yg-jalnan", "corp";
}

/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header .hd_all {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 0 5rem;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  /* 반응형 */
}
header .hd_all article {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .hd_all article hgroup {
  width: 100%;
  text-align: center;
}
header .hd_all article hgroup a {
  width: 100%;
}
header .hd_all article hgroup a h1 {
  width: 100%;
}
header .hd_all article hgroup a h1 img {
  width: 70px;
  margin-bottom: 5px;
}
header .hd_all article .pc_menu {
  width: 60%;
}
header .hd_all article .pc_menu .menu_style {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0 !important;
}
header .hd_all article .pc_menu .menu_style li a {
  color: #3D210F;
  font-size: 1.1rem;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
header .hd_all article .pc_menu .menu_style li a:hover {
  color: #ffa135;
}
header .hd_all article .pc_menu .menu_style li a::after {
  display: block;
  content: "";
  transform: translateY(5px) scaleX(0);
  border-bottom: solid 3px #3D210F;
  transition: transform 0.4s ease-in-out;
}
header .hd_all article .pc_menu .menu_style li a:hover::after {
  transform: translateY(5px) scaleX(1);
}
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
header .hd_all article .pc_menu .menu_style .lang div {
  display: flex;
  gap: 1rem;
}
header .hd_all article .pc_menu .menu_style .lang div a:hover {
  color: #ff6200;
}
header .hd_all .m_menu_button {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 1rem;
  top: 22px;
  z-index: 10;
  display: none;
}
header .hd_all .m_menu_button a.menu-trigger, header .hd_all .m_menu_button a.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
}
header .hd_all .m_menu_button a.menu-trigger {
  position: relative;
  width: 30px;
  height: 40px;
}
header .hd_all .m_menu_button a.menu-trigger span {
  position: absolute;
  left: 7px;
  width: 100%;
  height: 3px;
  background-color: #000000;
  border-radius: 50px;
}
header .hd_all .m_menu_button a.menu-trigger span:nth-child(1) {
  top: 10px;
}
header .hd_all .m_menu_button a.menu-trigger span:nth-child(2) {
  top: 20px;
}
header .hd_all .m_menu_button a.menu-trigger span:nth-child(3) {
  bottom: 7px;
}
header .hd_all .m_menu_button .menu-trigger.active-1 span:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
}
header .hd_all .m_menu_button .menu-trigger.active-1 span:nth-child(2) {
  opacity: 0;
}
header .hd_all .m_menu_button .menu-trigger.active-1 span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
}
header .hd_all .m_menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6117647059);
  display: none;
  text-align: center;
}
header .hd_all .m_menu .menu_style {
  width: 100%;
  padding-top: 6rem;
  height: 100vh;
  margin-bottom: 0 !important;
}
header .hd_all .m_menu .menu_style li {
  width: 100%;
  margin-bottom: 4rem;
  font-size: 1.5rem;
  /* .dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    border: 1px solid grey;
  } */
}
header .hd_all .m_menu .menu_style li:last-child {
  margin-bottom: 0 !important;
  font-size: 1.5em;
  font-weight: 700;
  color: #2b0910;
}
header .hd_all .m_menu .menu_style li a {
  font-size: 1.2em;
  font-weight: 600;
  color: #2b0910;
}
header .hd_all .m_menu .menu_style li a:hover {
  color: #fb9107;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 11px;
}
header .hd_all .m_menu .menu_style .lang img {
  width: 25px;
}
header .hd_all .scroll_bar {
  background-color: #000;
}/*# sourceMappingURL=index.css.map */