@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:focus {
  outline: none;
}

html, body {
  margin: 0px;
  overflow-x: hidden;
  font-family: "S-CoreDream-3Light";
}

/*header*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
header .hd_all {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 1.5rem 3rem;
  background: rgba(36, 30, 30, 0.1);
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  /* 반응형 */
}
header .hd_all article {
  width: 100%;
  margin: 0 auto;
  padding: 0 10rem;
  box-sizing: border-box;
  display: flex;
}
header .hd_all article .gnb {
  width: 70%;
  display: flex;
  justify-content: flex-start;
}
header .hd_all article .gnb div {
  text-align: center;
}
header .hd_all article .gnb div a {
  width: 100%;
}
header .hd_all article .gnb div a h1 img {
  width: 80px;
  margin-bottom: 5px;
}
header .hd_all article .gnb .pc_menu {
  width: 100%;
}
header .hd_all article .gnb .pc_menu .menu_style {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0 !important;
}
header .hd_all article .gnb .pc_menu .menu_style li {
  white-space: nowrap;
  padding: 0 30px;
}
header .hd_all article .gnb .pc_menu .menu_style li a {
  font-weight: bold;
  color: #3D210F;
  font-size: 1.2em;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
}
header .hd_all article .gnb .pc_menu .menu_style li a::after {
  display: block;
  content: "";
  transform: translateY(5px) scaleX(0);
  border-bottom: solid 3px #82a90d;
  transition: transform 0.4s ease-in-out;
}
header .hd_all article .gnb .pc_menu .menu_style li a:hover::after {
  transform: translateY(5px) scaleX(1);
}
@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}
header .hd_all article .he_link {
  width: 30%;
  padding-top: 25px;
  text-align: right;
}
header .hd_all article .he_link a {
  padding: 0 10px;
  color: #3D210F;
  text-transform: uppercase;
  align-items: center;
}
header .hd_all article .he_link a span {
  font-size: 1rem;
}
header .hd_all .m_he_link {
  display: none;
}
header .hd_all .m_he_link a {
  background: url(../img/iconMy.png) no-repeat 50% 0;
  position: absolute;
  top: 0.8rem;
  left: 2rem;
  width: 40px;
  height: 40px;
  font-size: 0;
  background-size: auto;
}
header .hd_all .gnbgroup {
  display: none;
  position: relative;
  height: 4.4rem;
  font-size: 0;
  text-align: center;
  z-index: 1;
}
header .hd_all .gnbgroup::after {
  content: "";
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  vertical-align: middle;
  border-radius: 50%;
  background: #F2F2F2 url(../img/iconCateArrow.png) no-repeat;
  background-size: cover;
  margin-top: -0.5rem;
}
header .hd_all .gnbgroup button {
  height: 6rem;
}
header .hd_all .gnbgroup button span {
  display: inline-block;
  margin: 0 auto;
  vertical-align: middle;
  background: url(../img/uni-well-logo-sd-m.png) no-repeat;
  background-position: center center;
  height: 4.4rem;
  background-size: auto 100%;
  width: 11.2rem;
}
header .hd_all .m_menu {
  display: none;
  position: absolute;
  right: 0;
  padding-top: 5rem;
  top: -1.6rem;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
}
header .hd_all .m_menu .menu_style {
  width: 100%;
  padding: 5rem 0;
  margin-bottom: 0 !important;
}
header .hd_all .m_menu .menu_style li {
  width: 100%;
  margin-bottom: 4rem;
  font-size: 1rem;
}
header .hd_all .m_menu .menu_style li:last-child {
  margin-bottom: 0 !important;
  font-size: 1em;
  font-weight: 700;
  color: #2b0910;
}
header .hd_all .m_menu .menu_style li a {
  font-size: 1em;
  font-weight: 600;
  color: #2b0910;
}
header .hd_all .m_menu .menu_style li a:hover {
  color: #51814f;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  text-underline-offset: 10px;
}
header .hd_all .under {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}
header .hd_all .m_menu_button {
  display: none;
  width: 50px;
  height: 50px;
  position: absolute;
  right: 2rem;
  top: 1rem;
  z-index: 10;
}
header .hd_all .m_menu_button a.menu-trigger, header .hd_all .m_menu_button a.menu-trigger span {
  display: inline-block;
  transition: all 0.4s;
}
header .hd_all .m_menu_button a.menu-trigger {
  position: relative;
  width: 30px;
  height: 40px;
}
header .hd_all .m_menu_button a.menu-trigger span {
  position: absolute;
  left: 7px;
  width: 100%;
  height: 3px;
  background-color: #000000;
  border-radius: 50px;
}
header .hd_all .m_menu_button a.menu-trigger span:nth-child(1) {
  top: 10px;
}
header .hd_all .m_menu_button a.menu-trigger span:nth-child(2) {
  top: 20px;
}
header .hd_all .m_menu_button a.menu-trigger span:nth-child(3) {
  bottom: 7px;
}
header .hd_all .m_menu_button .menu-trigger.active-1 span:nth-child(1) {
  transform: translateY(8px) rotate(-45deg);
  background-color: #ffffff;
}
header .hd_all .m_menu_button .menu-trigger.active-1 span:nth-child(2) {
  opacity: 0;
}
header .hd_all .m_menu_button .menu-trigger.active-1 span:nth-child(3) {
  transform: translateY(-12px) rotate(45deg);
  background-color: #ffffff;
}
header .hd_all .m_menutool {
  display: none;
}
header .hd_all .m_menutool .m_log {
  display: none;
  background: #6b7a5e;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 3rem 2rem;
  z-index: 5;
  border-bottom: 2px solid #98a38d;
}
header .hd_all .m_menutool .m_log .signin {
  color: #ffffff;
}
header .hd_all .m_menutool .m_log .signin a {
  color: unset;
}
header .hd_all .m_menutool .m_log .signin a span {
  text-decoration: underline;
}
header .hd_all .m_menutool .m_log .signin .m-up {
  position: absolute;
  top: 2rem;
  left: 7rem;
  padding: 1rem 3rem;
  background: #5b662a;
  color: #fff;
  border-radius: 0.4rem;
}
header .hd_all .m_menutool .m_tag {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  display: none;
  text-align: center;
}
header .hd_all .m_menutool .m_tag .m_ac {
  list-style: none;
  padding-left: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
  margin-bottom: 0 !important;
  background-color: #ffffff;
}
header .hd_all .m_menutool .m_tag .m_ac .collapsible {
  border-bottom: 0.1rem solid #000000;
  background-color: #ffffff;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  display: inline-block;
  width: 100%;
}
header .hd_all .m_menutool .m_tag .m_ac .collapsible:after {
  content: "+";
  color: EF4D74;
  font-weight: bold;
  float: right;
}
header .hd_all .m_menutool .m_tag .m_ac .active, header .hd_all .m_menutool .m_tag .m_ac .collapsible:hover {
  background-color: #6b7a5e;
  color: #ffffff;
}
header .hd_all .m_menutool .m_tag .m_ac .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
}
header .hd_all .m_menutool .m_tag .m_ac .content a {
  color: #535353;
  background: #F8F8F8;
  padding: 1rem 0;
  border-top: 0.1rem solid #eee;
  width: 50%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
}
header .hd_all .m_menutool .m_tag .m_ac .active:after {
  content: "−";
}
header .hd_all .m_menutool .m_tag .btnbot {
  color: #666;
  display: block;
  height: 3.4rem;
  overflow: hidden;
  line-height: 3.6rem;
  padding: 0 1.5rem;
  border-radius: 0.4rem;
  border: 1px solid #ccc;
  margin: 4rem;
}
header .hd_all .scroll_bar {
  background-color: #000;
}

.scroll_bar {
  background-color: #ffffff;
}
.scroll_bar a {
  color: #000; /* 원하는 색상으로 변경하세요. */
}
.scroll_bar a :hover {
  color: #000; /* 원하는 색상으로 변경하세요. */
}
.scroll_bar a .logo_off {
  display: none;
}
.scroll_bar a .logo_on {
  display: inline !important;
  width: 130px;
}

/*main*/
main {
  width: 100%;
  height: 100%;
}
main #health .content .he-img {
  height: 130vh;
  display: block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}
main #health .content .he-img .he-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
main #health .content .he-img .he-swiper {
  position: relative;
  top: 15rem;
  right: -38rem;
  overflow: hidden;
}
main #health .content .he-img .he-swiper .swiper-container {
  -o-object-fit: cover;
     object-fit: cover;
  width: 300px;
  height: 700px;
}
main #health .content .he-img .he-swiper .swiper-container .swiper-wrapper .swiper-slide {
  border: 10px solid #ffffff;
  border-radius: 5%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
main #health .content .he-img .he-swiper .swiper-container .swiper-wrapper .swiper-slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
main #health .content .he-img .he-tit {
  position: absolute;
  bottom: 20rem;
  right: 16rem;
  display: flex;
  gap: 5px;
}
main #health .content .he-img .he-tit p {
  color: #ffffff;
}
main #health .content .he-fix {
  width: 100%;
  height: 130px;
  background-color: #82a90d;
}
main #health .content .he-fix h2 {
  font-size: 2.5rem;
  color: #ffffff;
  text-align: center;
  align-items: center;
  margin: 0 0;
  line-height: 130px;
}
main #story .content article {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
main #story .content article .st-img {
  width: 50%;
}
main #story .content article .st-img img {
  width: 100%;
  height: 600px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #story .content article .st-tet {
  width: 50%;
  text-align: center;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4rem;
}
main #story .content article .st-tet h2 {
  font-size: 4.5rem;
}
main #story .content article .st-tet h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.5;
}
main #story .content article .st-tet .st-more a {
  color: #000;
  display: block;
  border: 2px solid rgb(0, 0, 0);
  padding: 1.5rem 3rem;
  font-size: 2rem;
  font-weight: 300;
}
main #program52 {
  height: 100%;
  border-top: 1px solid #000;
}
main #program52 .content {
  padding: 5rem 0;
}
main #program52 .content .flex-52 .tet-52 {
  border-width: 6px;
  border-style: double;
  border-color: rgba(99, 99, 99, 0.61);
  width: 40%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
main #program52 .content .flex-52 .tet-52 h2 {
  text-align: center;
  font-size: 4rem;
  line-height: 1.3;
}
main #program52 .content .flex-52 .swiper-container3 {
  margin: 5rem 7rem 0;
}
main #program52 .content .flex-52 .swiper-container3 .swiper-wrapper .swiper-slide img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #program52 .content .flex-52 .nosw .nowra {
  display: none;
}
main #shoppingmall {
  width: 100%;
  height: 100%;
  background-color: #adbb84;
  padding: 3rem 0;
}
main #shoppingmall .content {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
main #shoppingmall .content .shop-img {
  width: 50%;
  text-align: right;
}
main #shoppingmall .content .shop-img img {
  width: 80%;
  height: 450px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #shoppingmall .content .shop-tet {
  width: 50%;
  color: #ffffff;
  text-align: right;
  align-items: flex-end;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 180px 0 0;
}
main #shoppingmall .content .shop-tet h3 {
  font-size: 2.7rem;
  font-weight: 300;
  margin-bottom: 15px;
}
main #shoppingmall .content .shop-tet h2 {
  font-size: 4rem;
  margin-bottom: 30px;
}
main #shoppingmall .content .shop-tet h4 {
  line-height: 2;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
main #shoppingmall .content .shop-tet .shop-now a {
  color: #ffffff;
  display: block;
  border-left: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  padding: 2rem 5rem;
  font-size: 1.7rem;
  font-weight: 100;
}
main #resetprogram {
  width: 100%;
  height: 100%;
  background-color: #f2f6de;
  padding: 3rem 0;
}
main #resetprogram .content {
  width: 100%;
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
}
main #resetprogram .content .rst-tet {
  margin-left: 13rem;
  text-align: left;
}
main #resetprogram .content .rst-tet h2 {
  font-size: 3rem;
  margin-bottom: 30px;
  line-height: 1.3;
}
main #resetprogram .content .rst-tet h4 {
  line-height: 2;
  font-weight: 300;
  font-size: 1.3rem;
  margin-bottom: 30px;
}
main #resetprogram .content .ret-img {
  text-align: center;
  margin-left: 12rem;
}
main #resetprogram .content .ret-img img {
  width: 800px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
main #cs .content {
  height: 100vh;
  display: block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
}
main #cs .content .cs-img {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: brightness(50%);
}
main #cs .content .cs-tet article {
  position: absolute;
  color: #ffffff;
}
main #cs .content .cs-tet article h2 {
  font-size: 4rem;
  margin-bottom: 40px;
}
main #cs .content .cs-tet article h4 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
}
main #cs .content .cs-tet .cs-abs1 {
  top: 15rem;
  right: 12rem;
}
main #cs .content .cs-tet .cs-abs2 {
  top: 40rem;
  left: 12rem;
}
main #event .content {
  width: 100%;
  height: 100%;
  background-color: #e0dbad;
}
main #event .content .ev-tet {
  padding-top: 3.5rem;
  text-align: center;
  align-items: center;
}
main #event .content .ev-tet h2 {
  font-size: 3.4rem;
  padding-bottom: 1rem;
}
main #event .content .ev-tet h4 {
  font-size: 1.5rem;
  font-weight: 300;
}
main #event .content .swiper-container2 {
  padding: 5rem 0;
}
main #event .content .swiper-container2 .swiper-wrapper .swiper-slide {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}
main #event .content .swiper-container2 .swiper-wrapper .swiper-slide .ev-sw-img {
  padding-bottom: 2rem;
}
main #event .content .swiper-container2 .swiper-wrapper .swiper-slide .ev-sw-img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 400px;
  height: 400px;
  border: 50px solid #ffffff;
  border-radius: 100%;
  box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
}
main #event .content .swiper-container2 .swiper-wrapper .swiper-slide .ev-sw-tet h3 {
  white-space: nowrap;
  font-size: 1.5rem;
  padding-bottom: 1rem;
}
main #event .content .swiper-container2 .swiper-wrapper .swiper-slide .ev-sw-tet h4 {
  font-size: 1.1rem;
  font-weight: 500;
}

/*footer*/
footer {
  height: 100%;
  background-color: #2b2b2b;
  color: #cfcfcf;
  padding: 1rem 15rem;
  display: flex;
  flex-direction: column;
}
footer .ft-sns ul {
  padding: 3rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
footer .ft-sns ul li {
  list-style: none;
}
footer .ft-sns ul li a {
  display: inline-block;
  width: 3.2rem;
  height: 3.2rem;
  background: url(../img/iconFooterSns.png) no-repeat;
  background-size: auto 3.2rem;
  font-size: 0;
  vertical-align: middle;
}
footer .ft-sns ul li .sns1 {
  background-position: 0 0;
}
footer .ft-sns ul li .sns2 {
  background-position: -3.2rem 0;
}
footer .ft-sns ul li .sns3 {
  background-position: -6.4rem 0;
}
footer .ft-sns ul li .sns4 {
  background-position: -9.6rem 0;
}
footer .ft-sns ul li .sns5 {
  background-position: -12.8rem 0;
}
footer .ft-sns ul li .sns6 {
  background-position: -16rem 0;
}
footer .ft-sns ul li .sns7 {
  background-position: -19.2rem 0;
}
footer .ft-sns ul li .sns8 {
  background-position: -22.4rem 0;
}
footer .ft-fot {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .ft-fot .ft_logo {
  width: 10%;
  display: flex;
  flex-direction: column;
}
footer .ft-fot .ft_logo a {
  color: #cfcfcf;
}
footer .ft-fot .ft_logo a img {
  margin-bottom: 1rem;
  width: 80px;
}
footer .ft-fot .ft_info {
  font-size: 1.1rem;
  font-weight: 300;
  width: 70%;
}
footer .ft-fot .ft_info .f_company {
  margin-bottom: 1rem;
}
footer .ft-fot .ft_info .f_company span {
  margin-right: 2rem;
}
footer .ft-fot .ft_info .ft_cs {
  display: flex;
  flex-direction: column;
}
footer .ft-fot .ft_info .ft_cs span {
  margin-bottom: 1rem;
}
footer .ft-fot .ft_info .ft_cs p {
  margin-bottom: 1rem;
}
footer .ft-fot .ft_info .ft_cs p .sp1 {
  margin-right: 2rem;
}
footer .ft-fot .ft_link {
  width: 20%;
}
footer .ft-fot .ft_link li {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .ft-fot .ft_link li a {
  margin-bottom: 1.4rem;
  color: #cfcfcf;
}/*# sourceMappingURL=index.css.map */